* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}

header {
 padding: 20px;
 font-family: 'Playfair Display', 'Courier New', sans-serif, monospace;
 background-color: black;
 color: white;
}

nav {
    float: left;
}

a {
    float: right;
    color: white;
    display: inline;
    padding: 0px 20px;
    font-size: 35px;
}