:root {
    --black: rgb(94, 43, 43);
    --white: white;
    --margin-left: 25px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--black);
}

header {
 padding: 20px;
 font-family: 'Courier New', sans-serif, monospace;
 background-color: var(--black);
 color: var(--white);
 display: inline;
}

header ul {
    margin-right: 20px;
    float: right;
    color: var(--white);
    padding: 0px 20px;
    font-size: 30px;
}

li {
    display: inline-block;
    margin-left: var(--margin-left);
    padding-top: 15px;
}

a {
    display: flex;
    text-decoration: none;
    color: var(--white);
    font-family: 'Courier New', Courier, monospace;
}


a:hover{
    color: blue;
}
.bio{
    margin-top: 1rem;
}

main h1 {
    color: var(--white);
    font-size: 40px;
    font-family: 'Courier New', sans-serif, monospace;
    margin-left: var(--margin-left);
    margin-top: 10rem;
    display: flex;
    flex: row;
}

main h2 {
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: flex;
    flex: row;
    /* text-shadow: 2px 4px 2px gold; */
    
    
}

.hi-name {
    display: flex;
    flex: content;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 7rem;

}

.headshot img {
    display: flex;
    flex: row;
    height: 550px;
    border-radius: 50%;
    border: 5px dotted rgb(16, 122, 210);  
}

.row p {
    /* justify-content: */
    color: var(--white);
    font-size: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.row {
    /* float: left; */
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    width: fit-content;
}

.card-column {
    width: 33%;
    margin-bottom: 65px;
}

.card {
    border: 5px groove white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.card h3, .card p {
    color: var(--white);
    text-align: center;
}

.card h3{
    border: 2px groove var(--white);
    font-size: 35px;
    padding: 20px;
    border-radius: 25px;
    position: absolute;
    top: -45px;
    background: var(--black);
   
}

.card p {
    margin-top: 25px;
    padding: 2rem;
}

.project-box {
    font-size: 35px;
    color: red;
    text-align: center;
    background: linear-gradient(rgb(94, 43, 43),var(--white));
    padding: 15px;
    border-radius: 10px;
    white-space: pre-wrap;
    padding: 20px;
}

.about-me {
    padding-top: 5rem;
    justify-content: space-around;
    text-align: center;
    font-size: 55px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    /* border: 3px solid var(--white); */
    padding: 4px;
    font-size: 35px;
    border-radius: 15px;
    justify-content: space-evenly;
}

p {
    justify-content: space-around;
    color: var(--white);
    font-size: 35px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 6rem;
    display: flex;
}